<ion-view view-title="Settings">
  <ion-content class="bg-light text-center p20">

	<img src="img/user.jpg" width="25%">

  <div class="card">
    <div class="item item-divider bg-light">
    	<h3 class="fw300 m0 p10 pt20 text-left"><b>Ring Ring's QR Settings</b></h3>
    </div>
  	<ul class="list text-left">
          <li class="item item-toggle">
             QR CODE ON/OFF
             <label class="toggle toggle-positive">
               <input type="checkbox" checked="">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
               </div>
             </label>
          </li>
        </ul>
      </div>


      <div class="card">
        <div class="item item-divider bg-light">
          <h3 class="fw300 m0 p10 pt20 text-left"><b>
          Account</b></h3>
        </div>
          <ul class="list text-left">
            <li class="item item-checkbox">
               <label class="checkbox checkbox-energized">
                 <input type="checkbox">
               </label>
               Developer Account
            </li>
            <li class="item item-checkbox">
               <label class="checkbox checkbox-energized">
                 <input type="checkbox" checked="">
               </label>
               Carpark QR Guest(Default)
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="button button-light button-block button-energized up" href="#/app/login">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


  </ion-content>
</ion-view>
