<ion-view view-title="Home" hide-nav-bar="true">

<div class="bar bar-header bar-energized up animate" ng-class="{'menuSmall shadow-small': topMenu === true}">
	  <button class="button button-clear animate" menu-toggle="left">
		<i ng-hide="isActive" class="ti-align-justify font-xl p10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/topmast.png" width="70" height="20"></center></i>
        <i ng-show="isActive" class="ti-close font-xl p10"></i>
      </button>
	  <button class="button button-clear animate" menu-toggle="right">
	  	<i ng-hide="isActive" class="ion-grid font-xl p10"></i>
        <i ng-show="isActive" class="ion-grid-close font-xl p10"></i>
      </button>
	</div>

  <ion-content>

    <!-- ionic slider -->
	  <ion>
	    <div class="top">
		    <div class="overlay-center p140 pt160"><a class="button button-dark" menu-toggle="left">&nbsp;<br><img src="img/logod.png" height="120"><br>We hope you'd love Ring-Ring<br> as much as we do.<br>&nbsp;<img src="img/qrlogo.png" border="0" width="90%"><br>Touch logo to start QRScan</a>
						<br><p><br><p><br><p><br><p>
							<br><p><br><p><br><p><br><p><br><p>
								<br><p><br><p><br>
									<br><br><p><br><p><br><p><br><p><br><p><br>

		    	<h3 p class="fw900 up"><a class="button button-energized up" menu-toggle="left">SCAN YOUR QR CODE NOW!</a></a>
		    </div>
			<div align="center">
	    	<class="img-responsive">
				<p>
	    </div><h3 p class="fw900 up"><p>
				<br><br></p>
	  </ion>
	</ion-slide-box>

	<div class="he5 bg-light"></div>
	<div class="he5 bg-light"></div>
	<div class="he5 bg-light"></div>
	<div class="he5 bg-light"></div>
	<div class="he5 bg-light"></div>

	<p>
		<br><p>
			<br><p><br><p>
				<br><p><br><p>
	<div class="text-center p20 pt40"><br></p>
		<h2 class="fw300 ">&nbsp;</h2><p>
		<p class=""><p><br>
			<br>
		<br><p><br>
	</div>
	<p><br><p><br>

	<div class="he5 bg-light"></div>

	<!-- Banner content -->
	<div class="row p0 bg-energized">
	  <div class="col p40">
	  	<img src="img/banners/1.png" class="img-responsive">
	  <p><br></div><br>
	  <div class="col p10">
	  	<h4 class="fw500 text-white"></h4><p>&nbsp;
		<p class="text-white">
			<h4 class="fw300 m0 light">Apartment, Condominium<br> QR Solutions for Housing Developer</small></p>
	  </div>
	</div><!-- // tabs -->

    <div class="he5 bg-light"></div>


    <div class="bg-darker text-center p30">
    	<img src="img/L.png" width="180">
    	<p class="stable">&nbsp;</p>
    	<div class="text-center m20">
        </div>
    	<div class="font-xs stable"> <span class="energized fw900">&copy; 2017. Zen Innovation</span></div>
    </div>


  </ion-content>
</ion-view>
