<ion-view view-title="QR SCAN">
  <ion-content class="bg-light text-center p20">


  <img src="img/logo33.png" width="90">

  <h3 class="dark fw300 m0">Ring-Ring QR Scanner</h3>
  <p class="dark fw900 mb20 up">scan new QR Code for verification</p>


  <div class="card pb30">
    <div class="item item-divider bg-light">
      <h2 class="fw300 m0 p10 pt20 text-center">QR Code Scanner</h2>
    </div>
    <ul class="list">
      <li class="list-item">
        <a class="button button-energized up" ng-click="showBarcode()">SCAN NOW</a>
      </li>
    </ul>
  </div>


  <div class="he50"></div>

  </ion-content>
</ion-view>
